<%provide(:title, 'About')%>
<h1>About page</h1>
  <p>This is my account at the Facebook:
    <a href="https://www.facebook.com/vladislav.kuznetsov.10?ref=tn_tnmn">My Facebook account</a>
  </p>

