<%provide(:title, 'Help')%>
<h1>Help</h1>
  <p>
    You can find everything about billiard at the
     <a href="http://fbsnso.ru"></a>
     Our federation has answers on all your questions.
   </p>



