<div>
  <h1>Billiard App</h1>
    <p>
      This is the home page of the best Billiard App ever! 
    </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("/images/vbil.jpeg", alt: "Enjoy Game"), 'http://fbsnso.ru' %>

