<%= link_to image_tag(current_user.avatar.url(:medium)), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to t(:view_prof), current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, t(:microposts)) %>
</span>

