<% provide(:title, 'New Match') %>
<h1><%=t :new_match%></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(Match.new) do |f| %>

      <%= render 'fields', f: f %>
   
      <%= f.submit t(:save), class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

