<footer class="footer">
  <small>
    <a href="https://www.facebook.com/vladislav.kuznetsov.10">Billiapp</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about),   about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
      <li><a href="http://vbilliard.ru/"><%=t :news %></a></li>
    </ul>
  </nav>
</footer>
